<div class="analyser-right">
    <app-sink [name]="'L1'" [parent]="'DL2109T29'" [signal]="fft"></app-sink>
    <app-sink [name]="'L2'" [parent]="'DL2109T29'" [signal]="fft"></app-sink>
    <app-sink [name]="'L3'" [parent]="'DL2109T29'" [signal]="fft"></app-sink>
    <app-sink [name]="'N'" [parent]="'DL2109T29'" [signal]="fft"></app-sink>
    <app-source [devicename]="'DL2109T29'" [name]="'BALCK'" [signal]="wave"></app-source>
    <app-source [devicename]="'DL2109T29'" [name]="'BALCK'" [signal]="wave"></app-source>
    <app-source [devicename]="'DL2109T29'" [name]="'BALCK'" [signal]="wave"></app-source>
    <app-source [devicename]="'DL2109T29'" [name]="'bLUE'" [signal]="wave"></app-source>
</div>