<div class="analyser-right">
    <app-sink [name]="'L1(CT)'" [parent]="'Dl2108T18(G2)'" [signal]="fft"></app-sink>
    <app-sink [name]="'L2'" [parent]="'Dl2108T18(G2)'" [signal]="fft"></app-sink>
    <app-sink [name]="'L3(400V)'" [parent]="'Dl2108T18(G2)'" [signal]="fft"></app-sink>
</div>
<div class="analyser-right">
    <app-sink [name]="'fuse'" [parent]="'Dl2108T18(fuse)'" [signal]="fft"></app-sink>
</div>
<div class="analyser-right">
    <app-sink [name]="'L1'" [parent]="'Dl2108T18(G1)'" [signal]="fft"></app-sink>
    <app-sink [name]="'L2'" [parent]="'Dl2108T18(G1)'" [signal]="fft"></app-sink>
    <app-sink [name]="'L3'" [parent]="'Dl2108T18(G1)'" [signal]="fft"></app-sink>
</div>
<div class="analyser-right">
    <app-sink [name]="'b1'" [parent]="'Dl2108T18(Gb)'" [signal]="fft"></app-sink>
    <app-sink [name]="'b2'" [parent]="'Dl2108T18(Gb)'" [signal]="fft"></app-sink>
    <app-sink [name]="'b3'" [parent]="'Dl2108T18(Gb)'" [signal]="fft"></app-sink>
    <app-sink [name]="'b4'" [parent]="'Dl2108T18(Gb)'" [signal]="fft"></app-sink>
</div>
<div class="analyser-right">
    <app-sink [name]="'N'" [parent]="'Dl2108T18(N1)'" [signal]="fft"></app-sink>
</div>
<div class="analyser-right">
    <app-sink [name]="'N'" [parent]="'Dl2108T18(N2)'" [signal]="fft"></app-sink>
</div>