<div class="analyser-right">
    <app-sink [name]="'3A'" [parent]="'Dl2108t02'" [signal]="fft"></app-sink>
    <app-sink [name]="'3A'" [parent]="'Dl2108t02'" [signal]="fft"></app-sink>
    <app-sink [name]="'3A'" [parent]="'Dl2108t02'" [signal]="fft"></app-sink>
    <app-sink [name]="'Blue Input'" [parent]="'Dl2108t02'" [signal]="fft"></app-sink>
    <app-source [devicename]="'Dl2108t02'" [name]="'L1'" [signal]="wave"></app-source>
    <app-source [devicename]="'Dl2108t02'" [name]="'L2'" [signal]="wave"></app-source>
    <app-source [devicename]="'Dl2108t02'" [name]="'L3'" [signal]="wave"></app-source>
    <app-source [devicename]="'Dl2108t02'" [name]="'N'" [signal]="wave"></app-source>
</div>
<app-sink [name]="'PLC'" [parent]="'Dl2108t02'" [signal]="fft"></app-sink>
<app-sink [name]="'Relay'" [parent]="'Dl2108t02'" [signal]="fft"></app-sink>
<app-source [devicename]="'Dl2108t02'" [name]="'Signal Output'" [signal]="wave"></app-source>
<app-sink [name]="'Earth'" [parent]="'Dl2108t02'" [signal]="fft"></app-sink>