<div class="analyser-right">
    <label>L1</label>
    <app-sink [name]="'in'" [parent]="'AnsiCodeL1'" [signal]="fft"></app-sink>
    <app-source [devicename]="'AnsiCodeL1'" [name]="'out'" [signal]="wave"></app-source>
</div>

<div class="analyser-right">
    <label>L2</label>
    <app-sink [name]="'in'" [parent]="'AnsiCodeL2'" [signal]="fft"></app-sink>
    <app-source [devicename]="'AnsiCodeL2'" [name]="'out'" [signal]="wave"></app-source>
</div>

<div class="analyser-right">
    <label>L3</label>
    <app-sink [name]="'in'" [parent]="'AnsiCodeL3'" [signal]="fft"></app-sink>
    <app-source [devicename]="'AnsiCodeL3'" [name]="'out'" [signal]="wave"></app-source>
</div>

<div class="analyser-right">
    <label>L4</label>
    <app-sink [name]="'in'" [parent]="'AnsiCodeL4'" [signal]="fft"></app-sink>
    <app-source [devicename]="'AnsiCodeL4'" [name]="'out'" [signal]="wave"></app-source>
</div>

<div class="analyser-right">
    <label>Vl1-0</label>
    <app-sink [name]="'in'" [parent]="'AnsiCodeVl1-0'" [signal]="fft"></app-sink>
    <app-source [devicename]="'AnsiCodeVl1-0'" [name]="'out'" [signal]="wave"></app-source>
</div>

<div class="analyser-right">
    <label>Vl2-0</label>
    <app-sink [name]="'in'" [parent]="'AnsiCodeVl2-0'" [signal]="fft"></app-sink>
    <app-source [devicename]="'AnsiCodeVl2-0'" [name]="'out'" [signal]="wave"></app-source>
</div>

<div class="analyser-right">
    <label>Vl3-0</label>
    <app-sink [name]="'in'" [parent]="'AnsiCodeVl3-0'" [signal]="fft"></app-sink>
    <app-source [devicename]="'AnsiCodeVl3-0'" [name]="'out'" [signal]="wave"></app-source>
</div>

<div class="analyser-right">
    <label>Vl4-0</label>
    <app-sink [name]="'in'" [parent]="'AnsiCodeVl4-0'" [signal]="fft"></app-sink>
    <app-source [devicename]="'AnsiCodeVl4-0'" [name]="'out'" [signal]="wave"></app-source>
</div>