<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div fxFlexAlign="start">
        <span class="automazione_icon">
            <img src="https://www.delorenzoglobal.com/image/icon_categorie/240716_energie_rinnovabili.jpg" class="img-responsive">      
                        </span>

    </div>
    <div fxFlex="60%">
        <h1 class="page-header underline">Smart Grid</h1>
    </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div fxFlex="30%" class="width">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <a [routerLink]="['/viewcontent', 1]">
                <h4>HYDROELECTRICAL SYSTEM</h4>
                <img class="prod" src="https://www.delorenzoglobal.com/image/dldkl014-hydraulic-bench.jpg">
            </a>
            <p>Hydroelectricity is electricity produced from hydropower and its cost is relatively low, making it a competitive source of renewable electricity. A hydraulic turbine converts the energy of flowing water into mechanical energy. A hydroelectric
                generator converts this mechanical energy into electricity...</p>
        </div>
    </div>
    <div class="width" fxFlex="30%">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <a [routerLink]="['/viewcontent', 3]">

                <h4>PHOTOVOLTAIC SYSTEM</h4>
                <img class="prod" src="https://www.delorenzoglobal.com/image/photovoltaic-solar-energy-trainer-dlsolar-a.jpg">
            </a>
            <p>A solar photovoltaic system (PV system) is a power system designed to supply usable solar power by means of photovoltaics; it converts sunlight or solar radiation into direct current electricity by using semiconductors. To allow users of different
                preparation to study this system in its variants...</p>
        </div>
    </div>
    <div class="width" fxFlex="30%">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <a [routerLink]="['/viewcontent', 4]">

                <h4>TRANSFORMER</h4>
                <img class="prod" src="https://www.delorenzoglobal.com/image/power-generation-dlgtu101-s.jpg">
            </a>
            <p>A transformer most commonly consists of two windings of wire that are wound around a common core to provide tight electromagnetic coupling between the windings. The core material is often a laminated iron core. The coil that receives the electrical
                input energy is referred to as the primary...</p>
        </div>
    </div>
    <div class="width" fxFlex="30%">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <a [routerLink]="['/viewcontent', 5]">

                <h4>TRANSMISSION</h4>
                <img class="prod" src="../../assets/transission.png">
            </a>
            <p>verhead power lines are mainly used to transmit electrical energy from the power stations to the consumers. However, in densely populated areas the power can only be supplied through cables. Various voltage levels are used for transmitting
                power; the levels are determined by the amount of power and ....</p>
        </div>
    </div>
    <div class="width" fxFlex="30%">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <a [routerLink]="['/viewcontent', 6]">

                <h4>SMART GRID</h4>
                <img class="prod" src="https://www.delorenzoglobal.com/image/smart-grid.jpg">
            </a>
            <p>The “Grid”, refers to the electric grid, a network of transmission lines, substations, transformers and more that deliver electricity from the power plants to home or business. The digital technology that allows for two-way communication between
                the utility and its customers...</p>
        </div>
    </div>
    <div class="width" fxFlex="30%">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <a [routerLink]="['/viewcontent', 2]">

                <h4>Wind System</h4>
                <img class="prod" src="https://www.delorenzoglobal.com/image/wind-power-plants-dlwpp.jpg">
            </a>
            <p>Wind energy captures the natural wind and converts the air’s motion into mechanical energy usually for electricity production and this mechanism is referred to a wind-electric turbine. The turbine blades are normally designed to capture the
                kinetic energy in wind and when start moving...</p>
        </div>
    </div>

</div>