<div class="rows">
    <div class="analyser-right">
        <app-sink [name]="'L1'" [parent]="'DL 9031(g1)'" [signal]="fft"></app-sink>
        <app-sink [name]="'N'" [parent]="'DL 9031(g1)'" [signal]="fft"></app-sink>
        <app-sink [name]="'Gnd'" [parent]="'DL 9031(g1)'" [signal]="fft"></app-sink>
    </div>

    <div class="analyser-right">
        <app-sink [name]="'L1'" [parent]="'DL 9031(g2)'" [signal]="fft"></app-sink>
        <app-sink [name]="'N'" [parent]="'DL 9031(g2)'" [signal]="fft"></app-sink>
        <app-sink [name]="'Gnd'" [parent]="'DL 9031(g2)'" [signal]="fft"></app-sink>
    </div>
</div>