<div class="colms">
    <div class="analyser-right">
        <app-sink [name]="'F1'" [parent]="'DL 1017L'" [signal]="fft"></app-sink>
        <app-sink [name]="'F2'" [parent]="'DL 1017L'" [signal]="fft"></app-sink>
        <app-sink [name]="'F3'" [parent]="'DL 1017L'" [signal]="fft"></app-sink>
    </div>
    <div class="analyser-right">
        <app-sink [name]="'L1'" [parent]="'DL 1017L'" [signal]="fft"></app-sink>
        <app-sink [name]="'L2'" [parent]="'DL 1017L'" [signal]="fft"></app-sink>
        <app-sink [name]="'L3'" [parent]="'DL 1017L'" [signal]="fft"></app-sink>

    </div>
</div>