.analyser-right {
    margin: 0 0.5em;
}

.rowss {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
}

.spectrum {
    width: 256px;
    height: 126px;
}