<div class="analyser-right">
    
    <app-sink [name]="'F1'" [parent]="'DL 1017R'" [signal]="fft"></app-sink>
    <app-sink [name]="'F2'" [parent]="'DL 1017R'" [signal]="fft"></app-sink>
    <app-sink [name]="'F3'" [parent]="'DL 1017R'" [signal]="fft"></app-sink>
</div>
<div class="analyser-right">
    <app-sink [name]="'R1'" [parent]="'DL 1017R'" [signal]="fft"></app-sink>
    <app-sink [name]="'R2'" [parent]="'DL 1017R'" [signal]="fft"></app-sink>
    <app-sink [name]="'R3'" [parent]="'DL 1017R'" [signal]="fft"></app-sink>
</div>